<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <!-- Uncomment below to support prerelease C# packages from dotnet-tools feed -->
    <!--
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.CodeAnalysis.*" />
    </packageSource>
    -->
  </packageSourceMapping>
</configuration>
