name: Cleanup packages

on:
  schedule:
  - cron: '21 0 * * 6'
  workflow_dispatch:

jobs:
  clean-pr-packages:

    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
    - uses: actions/delete-package-versions@v5
      with:
        package-name: Yardarm
        package-type: nuget
        min-versions-to-keep: 30
        ignore-versions: ^(?!.*PullRequest).*$
    - uses: actions/delete-package-versions@v5
      with:
        package-name: Yardarm.NewtonsoftJson
        package-type: nuget
        min-versions-to-keep: 30
        ignore-versions: ^(?!.*PullRequest).*$
    - uses: actions/delete-package-versions@v5
      with:
        package-name: Yardarm.SystemTextJson
        package-type: nuget
        min-versions-to-keep: 30
        ignore-versions: ^(?!.*PullRequest).*$
    - uses: actions/delete-package-versions@v5
      with:
        package-name: Yardarm.MicrosoftExtensionsHttp
        package-type: nuget
        min-versions-to-keep: 30
        ignore-versions: ^(?!.*PullRequest).*$
    - uses: actions/delete-package-versions@v5
      with:
        package-name: Yardarm.CommandLine
        package-type: nuget
        min-versions-to-keep: 30
        ignore-versions: ^(?!.*PullRequest).*$
    - uses: actions/delete-package-versions@v5
      with:
        package-name: Yardarm.Sdk
        package-type: nuget
        min-versions-to-keep: 30
        ignore-versions: ^(?!.*PullRequest).*$
